<!DOCTYPE html>
<html>

<head>
  <title>Token Validation</title>
</head>

<body>
  <div id="container" style="display: none;">
    <button id="logout">Logout</button>

    <h2>Profile</h2>
        <button id="profile">Profile</button>
    <h2>Play list</h2>
        <button id="playlist">Play list</button>
  </div>
    <script src="/validateToken.js"></script>
</body>

</html>