<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <div id="container" style="display: none;">
        <h2>Profile</h2>
        <p>Display Name: <span id="displayName"></span></p>
        <p>Email: <span id="email"></span></p>
        <p>Followers: <span id="followers"></span></p>
    </div>
    <script src="/profile.js"></script>
</body>

</html>